.search-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.tab {
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
}

.tab:hover {
  color: #000;
}

.tab.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
  color: #007bff;
}

.search-content {
  padding: 1rem;
}

body.dark-mode .tab:hover {
  color: #fff;
}